h1 CONTACT
center
    h2 Any question to:
    h2 
        span(class="glyphicon glyphicon-envelope")=' '+infomail
    h2
        span(class="glyphicon glyphicon-phone")=' '+phone
    h2 Answear quickly

