h1 SERVICES
div(class="row")
    div(class="col-md-4")
        h2 Service 1  
            span(class="glyphicon glyphicon-globe")
        p Service 1 a 
            span(class="glyphicon glyphicon-pencil")  
        p Service 1 b 
            span(class="glyphicon glyphicon-signal")    
        p Service 1 c 
            span(class="glyphicon glyphicon-upload") 
        p Service 1 d 
            span(class="glyphicon glyphicon-ok") 
    div(class="col-md-4")
        h2 Service 2
            span(class="glyphicon glyphicon-hand-up")
        p Service 2 a
            span(class="glyphicon glyphicon-search")   
        p Service 2 b 
            span(class="glyphicon glyphicon-pencil")  
        p Service 2 c 
            span(class="glyphicon glyphicon-signal")    
        p Service 2 d 
            span(class="glyphicon glyphicon-upload") 
        p Service 2 e 
            span(class="glyphicon glyphicon-ok") 
    div(class="col-md-4")
        h2 Service 3
            span(class="glyphicon glyphicon-phone")
        p Service 3 a 
            span(class="glyphicon glyphicon-pencil")  
        p Service 3 b 
            span(class="glyphicon glyphicon-signal")    
        p Service 3 c 
            span(class="glyphicon glyphicon-upload") 
        p Service 3 d 
            span(class="glyphicon glyphicon-ok") 

